{% load static %}
<section id="about">
    <div class="container-about">
        
        <div class="about-content">
            <h2>Dreckor</h2>
            <p>Soy un apasionado desarrollador de software Full Stack con experiencia en la creación de aplicaciones web y móviles. Con una solida formación académica en desarrollo de software y casi 3 años de experiencia significativa en la industria, he adquirido un amplio conocimiento en todas las etapas del ciclo de desarrollo de software.
            </p>Mi enfoque principal es ofrecer soluciones tecnológicas eficientes y de alta calidad que satisfagan las necesidades y los objetivos del cliente. Me especializo en el desarrollo de aplicaciones utilizando tecnologías modernas como JavaScript, Python, HTML5, CSS3 y bases de datos. Tengo experiencia en el uso de frameworks y bibliotecas como Node.js y Django, lo que me permite crear aplicaciones escalables y robustas.
       
            <button class="btn btn-primary" onclick="redirectToLinkedin()">Visita mi linkedin</button>
        </div>
        <img src="{% static 'images/side-banner.png' %}" alt="">
    </div>
    <div class="container-skills">
        <div class="skill"><i class="fa-brands fa-java"></i></div>
        <div class="skill"><i class="fa-brands fa-square-js"></i></div>
        <div class="skill"><i class="fa-brands fa-python"></i></div>
        <div class="skill"><i class="fa-brands fa-android"></i></div>
        <div class="skill"><i class="fa-brands fa-php"></i></div>
        <div class="skill"><i class="fa-solid fa-cloud"></i></div>
    </div>
</section>