{% load static %}

<section id="inicio" class="body-section">
    <div class="container-body">
        <div class="oval-image">
            <div class="blur-container blur1"></div>
            <div class="blur-container blur2"><img class="profile-img" src="https://avatars.githubusercontent.com/u/73753568?v=4"
                    alt="Imagen ovalada"></div>
        </div>

        <div class="content">
            <h2><strong>Desarrollador de software</strong> </h2>
            <p>¿Quieres crear algo increíble?</p>
            <button class="btn btn-primary" onclick="window.location.href='#contacto'">Contáctame</button>
        </div>
    </div>
</section>