<section id="contacto">
    <div class="form-contacto">
        <div class="container-title">
            <h2>Envia tu mensaje:</h2>
        </div>
        <div class="form-side">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Tu correo</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
            
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mensaje</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary form-btn">Enviar</button>
            </form>
            
        </div>
        
    </div>
    
</section>
