<div class="container-fluid nb w-100">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <h1>Dreckor</h1>
        </a>
      </div>

      <div class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills ms-auto">
          <li class="nav-item"><a href="{% url 'entrys:home'%}" class="nav-link" >Inicio</a></li>
          <li class="nav-item"><a href="#projects" class="nav-link">Mis proyectos</a></li>
          <li class="nav-item"><a href="#about" class="nav-link">Mi perfil</a></li>
          <button type="button" class="btn btn-primary" onclick="window.location.href='#contacto'">Contáctame</button>
        </ul>
        
      </div>
    </header>
  </div>